@page
@model IdentityService.Pages.Register.Index
@{
    ViewData["Title"] = "Register";
}

<div>
    <partial name="_ValidationSummary" />
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <h2>Register>
                </div>
                <div class="card-body">
                    FORM GOES HERE
                </div>
        </div>
    </div>
</div>